<div class="container align-content-center">
    <table class="table text-center">
            <thead class="thead-light">
              <tr>
                <th scope="col">Paid</th>
                <th scope="col">Date Due</th>
                <th class="text-left" scope="col">Item</th>
                <th class="text-right" scope="col">Amount</th>
                <th scope="col">Reviewed</th>                
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>1/10/2020</td>
                <td class="text-left">Paycheck</td>
                <td class="text-right">500.00</td>
                <td>X</td>
                <td><button class="btn btn-primary btn-sm">Edit</button></td>                
                <td><button class="btn btn-primary btn-sm">Delete</button></td>                
              </tr>
              <tr>
                <td>X</td>
                <td>1/15/2020</td>
                <td class="text-left">Electric</td>
                <td class="text-right text-danger">(100.00)</td>
                <td>X</td>
                <td><button class="btn btn-primary btn-sm">Edit</button></td>
                <td><button class="btn btn-primary btn-sm">Delete</button></td>                
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="text-left"><strong>Remaining</strong></td>
                <td class="text-right">$400.00</td>
                <td></td>
                <td></td>
                <td></td>
                </tr>              
            </tbody>
          </table>
</div>

