<div class="container">
    <button class="btn btn-primary btn-sm" routerLink="/budget-item">Add Item</button>
</div>
<div class="container align-content-center">
    <table class="table text-center">
        <thead class="thead-light">
            <tr>
            <th scope="col">Paid</th>
            <th scope="col">Date Due</th>
            <th class="text-left" scope="col">Item</th>
            <th class="text-right" scope="col">Amount</th>
            <th scope="col">Reviewed</th>                
            <th>Edit</th>
            <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td *ngIf="item.paid==true;else elseNotPaid">X</td>
                <ng-template #elseNotPaid><td></td></ng-template>

                <td>{{item.dateDue | date: 'MM/dd/yyy'}}</td>
                <td class="text-left">{{item.item}}</td>

                <td class="text-right text-danger" *ngIf="item.amount < 0; else elsePositiveAmount">{{item.amount.toFixed(2).replace("-", "(").concat(")")}}</td>
                <ng-template #elsePositiveAmount><td class="text-right">{{item.amount.toFixed(2)}}</td></ng-template>

                <td *ngIf="item.reviewed==true;else elseNotReviewed">X</td>
                <ng-template #elseNotReviewed><td></td></ng-template>                

                <td><button class="btn btn-primary btn-sm">Edit</button></td>                
                <td><button class="btn btn-primary btn-sm">Delete</button></td>                
            </tr>              
            <tr>
                <td></td>
                <td></td>
                <td class="text-left"><strong>Remaining Amount</strong></td>
                <td class="text-right">{{ remainingAmount | currency }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>              
        </tbody>
    </table>
</div>