<div class="container">

    <div class="container" class="alert alert-danger" *ngIf=budgetItemForm.invalid>Please enter required fields</div>

    <form (submit)="!budgetItemForm.invalid && saveBudgetItem()" #budgetItemForm=ngForm>
        <table class="table text-center">
            <thead class="thead-light">
                <th>Paid</th>
                <th>Date Due</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Reviewed</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="budgetItem.paid" class="form-check-input big-checkbox" name="paid">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="date" [(ngModel)]="budgetItem.dateDue" class="form-control" name="dateDue">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text"[(ngModel)]="budgetItem.item" class="form-control" name="item" required>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="budgetItem.amount" class="form-control" name="amount">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="budgetItem.reviewed" class="form-check-input big-checkbox" name="reviewed">
                        </div>         
                    </td>
                </tr>                
            </tbody>
        </table>
        <div class="float-right">
            <button type="submit" class="btn btn-primary m-1">Save</button>
            <button type="button" class="btn btn-secondary m-1" routerLink="/budget-item-list">Cancel</button>
        </div>
    </form>
</div>